{% include 'adminheader.html' %}
<center>
		<div class="fullwidthbanner" id="home">
            <div class="tp-banner">
                <ul>
                    <!-- SLIDE 1 -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                        <!-- MAIN IMAGE -->
                        <img src="/static/images/bg-1.jpg" alt="desk" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption slider-title" data-x="center" data-y="center"  data-voffset="-30" data-speed="500" data-start="1200" data-easing="Power4.easeInOut">
<form method="post">
	<h1 style="padding-top: 100px">Send Reply</h1>
	<table class="table" style="width: 500px;font-size:20px">
		<tr>
			<th>Reply</th>
			<td><input type="text" name="reply" class="form-control" required></td>
		</tr>
		<tr>
			<td align="center" colspan="2"><input type="submit" name="send" value="SEND" class="btn btn-primary"></td>
		</tr>
	</table>
</form>
</center>
                        </div> <!-- /tp-caption -->
                        <!-- LAYER NR. 2 -->
                       
                    </li>
                    <!-- SLIDE 2 -->
                    
                </ul>
            </div>
        </div><!--full width banner-->
{% include 'footer.html' %}