{% include 'customerheader.html' %}
<center>
		<div class="fullwidthbanner" id="home">
            <div class="tp-banner">
                <ul>
                    <!-- SLIDE 1 -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                        <!-- MAIN IMAGE -->
                        <img src="/static/images/i1.jpg" alt="desk" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption slider-title" data-x="center" data-y="center"  data-voffset="-30" data-speed="500" data-start="1200" data-easing="Power4.easeInOut">
<h1 style="padding-top: 100px">View All Transactions</h1>
<table class="table" style="width: 500px;font-size:20px">
	<tr>
		<th>From Account</th>
		<th>To Account</th>
		<th>Amount</th>
		<th>Datetime</th>
	</tr>
	{% for row in data['transactions'] %}
	<tr>
		<td>{{row['from_ac']}}</td>
		<td>{{row['to_ac']}}</td>
		<td>{{row['amount']}}</td>
		<td>{{row['datetime']}}</td>
	</tr>
	{% endfor %}
</table>
</center>
                        </div> <!-- /tp-caption -->
                        <!-- LAYER NR. 2 -->
                       
                    </li>
                    <!-- SLIDE 2 -->
                    
                </ul>
            </div>
        </div><!--full width banner-->
{% include 'footer.html' %}