{% include 'employeeheader.html' %}
<center>
		<div class="fullwidthbanner" id="home">
            <div class="tp-banner">
                <ul>
                    <!-- SLIDE 1 -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                        <!-- MAIN IMAGE -->
                        <img src="/static/images/l2.jpg" alt="desk" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption slider-title" data-x="center" data-y="center"  data-voffset="-30" data-speed="500" data-start="1200" data-easing="Power4.easeInOut">
<form>
	<h1 style="padding-top: 150px">View Loan Requests</h1>
	<div style="overflow-x: auto;width: 1200px">
	<table class="table" style="width: 600px;font-size:10px">
	<tr>
		<th>Customer Name</th>
		<th>HouseName</th>
		<th>Customer Place</th>
		<th>Phone</th>
		<th>Email</th>
		<th>BankName</th>
		<th>BankPlace</th>
		<th>Loan Name</th>
		<th>Details</th>
		<th>Interest Rate</th>
		<th>Max Amount</th>
		<th>Datetime</th>
		<th>Status</th>
	</tr>
	{% for row in data['request'] %}
	<tr>
		<td>{{row['firstname']+" "+row['lastname']}}</td>
		<td>{{row['housename']}}</td>
		<td>{{row['customerplace']}}</td>
		<td>{{row['customerphone']}}</td>
		<td>{{row['customeremail']}}</td>
		<td>{{row['bankname']}}</td>
		<td>{{row['bankplace']}}</td>
		<td>{{row['loan_name']}}</td>
		<td>{{row['details']}}</td>
		<td>{{row['interest_rate']}}</td>
		<td>{{row['max_amount']}}</td>
		<td>{{row['datetime']}}</td>
		<td>{{row['status']}}</td>
		{% if row['status']=="pending" %}
		<td>
		<a href="employeeupdateloanstatus?rid={{row['request_id']}}">update status</a></td>
		{% endif %}
	</tr>
	{% endfor %}
</table>
</div>
</form>
</center>
                        </div> <!-- /tp-caption -->
                        <!-- LAYER NR. 2 -->
                       
                    </li>
                    <!-- SLIDE 2 -->
                    
                </ul>
            </div>
        </div><!--full width banner-->
{% include 'footer.html' %}