{% include 'publicheader.html' %}
<div class="fullwidthbanner" id="home">
            <div class="tp-banner">
                <ul>
                    <!-- SLIDE 1 -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                        <!-- MAIN IMAGE -->
                        <img src="/static/images/l2.jpg" alt="desk" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption slider-title" data-x="center" data-y="center"  data-voffset="-30" data-speed="500" data-start="1200" data-easing="Power4.easeInOut">
                            
                             <center>
                             	 <span>Login</span>
                       
						<form method="post">
							<!-- <h1>Login</h1> -->
							<table class="table" style="width: 600px;font-size: 30px">
								<tr>
									<th>Username</th>
									<td><input type="text" name="username" class="form-control"></td>
								</tr>
								<tr>
									<th>Password</th>
									<td><input type="password" name="password"  class="form-control"></td>
								</tr>
								<tr>
									<td align="center" colspan="2"><input type="submit" name="login" value="LOGIN" class="btn btn-primary"></td>
								</tr>
								<tr>
									<td align="center" colspan="2" style="width: 10px;height: 10px;"><a  style="width: 10px;height: 10px;" href="forgot_password">Forgot Password</a></td>
								</tr>
							</table>
						</form>
						</center>
						 </div> <!-- /tp-caption -->
                    </li>
                    <!-- SLIDE 3 -->
                </ul>
            </div>
        </div><!--full width banner-->

{% include 'footer.html' %}